.leftSide
{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.rightSide
{
    display:flex;
    justify-content: flex-end;
    flex-direction: column;
}
.firstImage
{
    margin-left: 5%;
    margin-top: 5%;
    width: 600px;
    height: 750px;
}
.secondImage
{
    margin-right: 5%;
    margin-top: 7%;
    width: 500px;
    height: 750px;
}
.navBarDiv
{
    margin-top: 10%;
}


.shopNow
{

    border-style: hidden;
    margin-left: 10%;
    margin-right: 60%;
}
.constText
{
    font-size: x-large;
}
.shopNowButton
{
    border: black solid;
    border-width: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
}